.direction-header{
    /*Container*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*Items*/

    background-color: #1a1a1a00;
}

.direction-list-items{
    display: flex;
    flex-direction: row;
}

.color-list-items{
    color: #409ea5;
}