.direction-header{
    /*Container*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /*Items*/

    background-color: #1a1a1a00;
}

.direction-list-items{
    display: flex;
    flex-direction: row;
}

.color-list-items{
    color: #409ea5;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;

    background-color: #4f026e23;
    backdrop-filter: blur(12px);
    box-shadow: -10px 0 10px rgb(0,0,0,0.1);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.menu-button{
    display: none;
}

@media(max-width: 1250px){
    .hide-on-mobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 500px){
    .sidebar{
        width: 100%;
    }
}