.space-between-item{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 7px;
    margin-right: 7px;
    padding-left: 3px;
    padding-right: 3px;

    width: 120px;
}
.space-between-item-list{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 7px;
    margin-right: 7px;
    padding-left: 3px;
    padding-right: 3px;

    cursor: pointer;

    width: 120px;
}
.hover-item:hover{
    border-color: #4FBFC0;
    color: aliceblue;
    border-radius: 8px;
    cursor: pointer;

    border: 1px solid;

}
.hover-item:focus,
.hover-item:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
}